@tailwind base;
@tailwind components;
@tailwind utilities;
  @layer base {
    @font-face {
      font-family: 'Allura';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
    }
    :root {
      --brand-darkgreen: 66, 15%, 36%;
      --brand-lightgreen: 74 22% 62%;
      --brand-offwhite: 50, 43%, 89%;
      --brand-orangewhite: 43 81% 88%;
      --brand-orange:  	40, 40%, 64%;
      --brand-brown:  	23 66% 28%;
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
    }

    .dark {

      --brand-darkgreen: 111 100% 4%;
      --brand-lightgreen: 74 22% 62%;
      --brand-offwhite: 52 94% 94%;
      --brand-orangewhite: 43 81% 88%;
      --brand-orange:  	26 73% 45%;
      --brand-brown:  	23 66% 28%;

      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  html{
    scroll-behavior: smooth;
 
  }
  body{
    background: var(--brand-offwhite);
  }
  .animate-fadeinup-1{
    animation:fadeinup 0.5s ease-out 50ms forwards;
  }
  .animate-fadeinup-2{
    animation:fadeinup 0.7s ease-out 50ms forwards;
  }
  .animate-fadeinup-3{
    animation:fadeinup 1s ease-out 50ms forwards;
  }
  .animate-navbar{
    animation: topDown 0.3s ease 1 forwards;
  }
  @keyframes fadeinup{
    0%{
      transform: translateY(50px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
      opacity: 100;
    }
  }

  @keyframes topDown{
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(0%);
    }
  }